<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"><Package Name="AI Meeting Assistant" Manufacturer="FizzDisc" Version="1.0.0" UpgradeCode="D73A764B-05D0-49D2-9EDF-B8A978E610D2" Scope="perMachine"><MajorUpgrade DowngradeErrorMessage="A newer version of AI Meeting Assistant is already installed."/><MediaTemplate EmbedCab="yes"/><StandardDirectory Id="ProgramFiles6432Folder"><Directory Id="INSTALLFOLDER" Name="AI Meeting Assistant"><Files Include="$(PublishDir)\**"/></Directory></StandardDirectory></Package></Wix>
